<div class="sixteen wide column account">
	<div class="account-left">
		<p>You are logged as <strong>Admin</strong></p>
	</div>
	<div class="account-right">
		<p>
			<i class="user icon"></i>John Doe
		</p>
	</div> 
</div>
