	</div>
	<!-- BEGIN INCLUDE JS PLUGINS -->
	<script src="/assets/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="/assets/semantic-ui/semantic.min.js" type="text/javascript"></script>
	<!-- END INCLUDE JS PLUGINS -->
	<script src="/scripts/index.js" type="text/javascript"></script>
	</body>
</html>	
