<html lang="en">
	<head>
		<title><%= title %></title>
		<!-- META -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="Increased employee engagement through IoT and Gamification" />
	    <meta name="author" content="Trackeroo1974" />
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- INSERT CSS -->
		<link rel="stylesheet" href="/assets/semantic-ui/semantic.min.css" />
		<link rel="stylesheet" href="/assets/custom.css" />
	</head>
	<body class="ui fluid container">
		<div class="ui grid trackeroo">

		

