<div class="three wide column trackeroo">
	<a href="/" target="_self">
		<img class="logo trackeroo" src="/assets/images/logo.png" alt="Trackeroo" />
	</a>
	<p class="copyright trackeroo">Copyright Trackeroo1984</p>
</div>

		

